h1{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
p{
    color: rgb(0, 149, 255);
    font-family: 'Courier New', Courier, monospace;
}
img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}